button {
  @include fontSize(18);
  @include padding-margin(10px 20px, 0);
  background: $salmon;
  border: none;
  color: $desert-storm; 
  font-family: $font-family--body;
  font-weight: $font-weight--normal;
  text-transform: uppercase;
  transition: all 0.3s;
  border-bottom: 4px solid #ed5656;
  &:hover {
    background: #ed5656;
  }
}