.header {
  background: $salmon;
  &__nav-list {
    @include flexbox (row wrap, space-between, flex-end);
    @include padding-margin (0, 0 auto);
    list-style: none;
    max-width: 1200px;
  }
  &__nav-list-item { 
    @include padding-margin (40px 30px 16px 30px, 0);
    align-self: center;
    .header-3 {
      text-transform: none;
      margin: 0;
    }
    a {
      color: $desert-storm;
      &:hover {
        color: white;
      }
    }
  }
  .header__account-icon {
    a {
      @include flexbox (row wrap, space-between, center);
      color: $charcoal;
    }
    .paragraph {
      font-weight: $font-weight--bolder;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0;
      align-self: center;
      margin-right: 5px;
    }
  }
}