.org-detail {
  @include padding-margin(0, 0 0 60px 0);
  // buttons
  &__button-container {
    @include flexbox(row wrap, flex-end, inherit);
    @include padding-margin(0, 0 0 20px 0);
  }
  &__button {
    @include fontSize(12);
    @include padding-margin(5px 10px, 0 10px 0 0);  
    height: 30px;
    letter-spacing: 1px;
    background: white;
    color: $aluminium;
    border: 1px solid $aluminium;
    // border-bottom: 3px solid $salmon;
    &:hover {
      background: $aluminium;
      color: white;
    }
  }
  // inline form
  &__title,
  .inputtext__input {
    @include padding-margin(0, 0);
  }
  .disabled .inputtext__input,
  .disabled .textarea__input {
    border: 2px solid transparent;
    &:hover,
    &:focus {
      background: none;
      border: 2px solid transparent;
      outline: 2px solid transparent;
    }
  }
  .editable .inputtext__input,
  .editable .textarea__input {
    background: $forget-me-not;
    border: 2px solid $forget-me-not;
    outline: 2px solid $forget-me-not;
  }
  .inputtext__input {
    @extend .header-4;
    font-weight: $font-weight--bolder;
  }
  .textarea__input {
    @include padding-margin(0, 10px 0);
  }
}