.page__org-details__container {
  @include grid(repeat(12, 1fr), auto, 20px);
  @include padding-margin(0, 0 auto);
  max-width: 960px;
  .button {
    @include flexbox(row-wrap, center, center);
    @include padding-margin(auto, 30px 0 50px 20px);
    grid-column: 9 / span 4;
  }
  .org-detail {
    grid-column: 4 / -1;
  }
  .org-details__index {
    @include padding-margin(0, 0 40px 0 0);
    text-align: right;
    grid-column: 1 / span 3;
    grid-row: span 10;
    list-style: none;
    position: relative;
    &:after {
      content: "";
      height: 85%;
      width: 1px;
      background: #ffe6e2;
      top: 5px;
      right: -30px;
      position: absolute;
    }
    &__item {
      @include padding-margin(0, 0 0 12px 0);
    }
    &__link {
      cursor: pointer;
      &--1 {
        cursor: pointer;
        font-weight: $font-weight--bolder;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
      }
    }
  }
  .form--org-info {
    @include padding-margin(100px 200px, 0);
    background: #090909f2;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .header-3 {
      margin: 0;
    }
    .button {
      margin: 10px 0 0 20px;
      float: right;
      padding: 10px 20px;
      font-size: 18px;
    } 
    input,
    textarea {
      border: 2px solid white;
      background: white;
      padding: 8px 10px;
      margin: 10px 0 30px 0;
      &:hover {
        outline: 2px solid transparent;
      }
    }
  }
}
