.page__org-details__container {
  @include padding-margin(0 20px 0 0, 0);
  @include grid(252px 1fr, auto, 60px);
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  .button {
    @include padding-margin(auto, 30px 0 82px 0);
    margin-left: calc(100% - 210px)
  }
}

.org-details__index {
  @include padding-margin(155px 20px 100px 0, 0 0 0 0);
  list-style: none;
  position: relative;
  border-right: 1px solid $forget-me-not;
  &__item {
    @include padding-margin(0, 0 0 20px 0);
  }
  &__link {
    cursor: pointer;
    &--1 {
      @include fontSize(16);
      cursor: pointer;
      font-weight: $font-weight--bolder;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.form--org-info {
  grid-column: 1 / -1;
}
