.page__grants__container {
  @include grid(repeat(12, 1fr), auto, 20px);
  @include padding-margin(0, 0 auto);
  max-width: 960px;
  .button {
    @include flexbox(row-wrap, center, center);
    @include padding-margin(auto, 30px 0 50px 20px);
    grid-column: 9 / span 4;
  }
  .header-2  {
    grid-column: 1 / -1;
  }
  .grant-card {
    grid-column: span 11;
  }
}