// base styles
@import 'setup';
@import 'utils';
@import 'typography';

// components
@import '../../components/Button/button';
@import '../../components/ButtonWithIcon/buttonwithicon';
@import '../../components/Header/header';
@import '../../components/InputText/inputtext';
@import '../../components/InputTextArea/inputtextarea';
@import '../../components/FormGrant/formgrant';
@import '../../components/FormOrgDetails/formorgdetails';
@import '../../components/OrgDetail/orgdetail';
@import '../../components/GrantCard/grantcard';
@import '../../components/Tags/tags';

// pages
@import 'page-login';
@import 'page-registration';
@import 'page-org-details';
@import 'page-grants';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}
