@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #242424; }

h1, h2, h3, h4,
.header-1, .header-2, .header-3, .header-4, .org-detail .inputtext__input {
  padding: 0;
  margin: 1.4rem 0 0.5rem 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

h1, h2, h3,
.header-1, .header-2, .header-3 {
  text-transform: uppercase; }

h1,
.header-1 {
  font-size: 34px;
  font-size: 3.4rem;
  padding: 0;
  margin: 0 0 0.5rem 0; }

h2,
.header-2 {
  font-size: 26px;
  font-size: 2.6rem; }

h3,
.header-3 {
  font-size: 18px;
  font-size: 1.8rem; }

h4,
.header-4,
.org-detail .inputtext__input {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400; }

p,
.paragraph {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px; }

.paragraph--right {
  text-align: right; }

strong,
.strong {
  font-weight: 600; }

a,
a:visited {
  color: #ff6e6e;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s; }
  a:hover,
  a:visited:hover {
    color: #ed5656; }

ul li {
  font-size: 14px;
  font-size: 1.4rem; }

.accordion {
  font-weight: 600; }

:selection {
  background: yellow; }

button {
  font-size: 18px;
  font-size: 1.8rem;
  padding: 10px 20px;
  margin: 0;
  background: #ff6e6e;
  border: none;
  color: #f8f8f8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
  border-bottom: 4px solid #ed5656; }
  button:hover {
    background: #ed5656; }

.button--icon {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-right: 36px; }
  .button--icon .icon {
    margin-right: 16px;
    width: 20px; }

.header {
  background: #ff6e6e; }
  .header__nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-end;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 960px; }
  .header__nav-list-item {
    padding: 40px 30px 16px 30px;
    margin: 0;
    align-self: center; }
    .header__nav-list-item .header-3 {
      text-transform: none;
      margin: 0; }
    .header__nav-list-item a {
      color: #f8f8f8; }
      .header__nav-list-item a:hover {
        color: white; }
  .header .header__logo {
    padding: 40px 30px 16px 0;
    margin: 0; }
  .header .header__account-icon {
    padding: 40px 0 16px 30px;
    margin: 0; }
    .header .header__account-icon a {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      color: #242424; }
    .header .header__account-icon .paragraph {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0;
      align-self: center;
      margin-right: 5px; }

.inputtext__input {
  padding: 12px 4px;
  margin: 20px 0 40px 0;
  font-size: 14px;
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid #fdbdb3;
  color: #242424;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  transition: background 0.3s; }
  .inputtext__input:hover, .inputtext__input:focus {
    background: #fff9f8;
    box-shadow: none;
    outline: 2px solid #fff5f4;
    border-bottom: 2px solid #fff9f8; }
  .inputtext__input::placeholder {
    color: #d3d3d3; }

.textarea__input {
  padding: 12px 4px;
  margin: 20px 0 40px 0;
  font-size: 14px;
  font-size: 1.4rem;
  border: 2px solid #fdbdb3;
  color: #242424;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 200px;
  transition: background 0.3s;
  width: 100%; }
  .textarea__input:hover, .textarea__input:focus {
    background: #fff9f8;
    box-shadow: none;
    outline: 2px solid #fff5f4;
    border: 2px solid #fff9f8; }
  .textarea__input::placeholder {
    color: #d3d3d3; }

.form--registration .button {
  width: 100%; }

.form--login .button {
  width: 100%; }

.form--grant {
  padding: 50px 30%;
  margin: 0;
  background: #242424;
  color: white;
  height: 100vh;
  width: 100%; }
  .form--grant .header-3 {
    margin: 0; }
  .form--grant .button {
    padding: 10px 20px;
    margin: 10px 0 0 20px;
    float: right;
    font-size: 18px; }
    .form--grant .button.form--grant__close {
      padding: 0;
      margin: 0 0 20px 0;
      background: none;
      border: none;
      float: none;
      font-size: 14px;
      font-weight: lighter;
      letter-spacing: 1px;
      outline: #242424;
      text-align: right;
      text-transform: none;
      width: 100%; }
  .form--grant input,
  .form--grant textarea {
    background: white;
    border: 2px solid white;
    margin: 10px 0 30px 0;
    padding: 4px; }
    .form--grant input:hover,
    .form--grant textarea:hover {
      outline: 2px solid transparent; }
  .form--grant .error {
    background: black;
    padding: 10px;
    color: #ffb3b3;
    border-radius: 3px;
    margin: 0 0 10px 0; }

.form--org-info {
  padding: 50px 30%;
  margin: 0;
  background: #242424;
  color: white;
  height: 100vh;
  width: 100%; }
  .form--org-info .header-3 {
    margin: 0; }
  .form--org-info .button {
    padding: 10px 20px;
    margin: 10px 0 0 20px;
    float: right;
    font-size: 18px; }
    .form--org-info .button.form--grant__close {
      padding: 0;
      margin: 0 0 20px 0;
      background: none;
      border: none;
      float: none;
      font-size: 14px;
      font-weight: lighter;
      letter-spacing: 1px;
      outline: #242424;
      text-align: right;
      text-transform: none;
      width: 100%; }
  .form--org-info input,
  .form--org-info textarea {
    background: white;
    border: 2px solid white;
    margin: 10px 0 30px 0;
    padding: 4px; }
    .form--org-info input:hover,
    .form--org-info textarea:hover {
      outline: 2px solid transparent; }

.org-detail {
  padding: 0;
  margin: 0 0 40px 0; }
  .org-detail__button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: inherit;
    padding: 0;
    margin: 0 0 20px 0; }
  .org-detail__button {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    background: #242424;
    border: none;
    height: 30px;
    letter-spacing: 1px; }
    .org-detail__button:hover {
      background: #9b9b9b; }
  .org-detail__title,
  .org-detail .inputtext__input {
    padding: 0;
    margin: 0; }
  .org-detail .disabled .inputtext__input,
  .org-detail .disabled .textarea__input {
    border: 2px solid transparent; }
    .org-detail .disabled .inputtext__input:hover, .org-detail .disabled .inputtext__input:focus,
    .org-detail .disabled .textarea__input:hover,
    .org-detail .disabled .textarea__input:focus {
      background: none;
      border: 2px solid transparent;
      outline: 2px solid transparent; }
  .org-detail .editable .inputtext__input,
  .org-detail .editable .textarea__input {
    background: #fef2ee;
    border: 2px solid #fef2ee;
    outline: 2px solid #fef2ee; }
  .org-detail .inputtext__input {
    font-weight: 700; }
  .org-detail .textarea__input {
    padding: 0;
    margin: 10px 0; }

.grant-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 16px 30px;
  border: 1px solid #fef2ee;
  border-left: 4px solid #ff6e6e; }
  .grant-card__name {
    text-transform: none;
    font-weight: 700;
    margin: 0;
    grid-column: span 4;
    font-size: 15px; }
  .grant-card__issuer, .grant-card__link {
    margin: 0;
    font-size: 12px;
    grid-column: span 4;
    grid-row: 2; }
  .grant-card__link {
    grid-row: 3; }
  .grant-card__tag, .grant-card__amount {
    padding: 3px 10px;
    margin: 2px;
    background: #fef2ee;
    font-size: 12px;
    height: fit-content; }
  .grant-card__tags {
    grid-column: span 3;
    display: flex;
    flex-flow: row wrap;
    grid-row: span 2;
    align-content: flex-start; }
  .grant-card__amount {
    background: white;
    border: 1px solid #fef2ee; }
  .grant-card__status {
    grid-column: 11 / span 2;
    text-align: right;
    font-size: 12px;
    margin: 0; }
  .grant-card__date {
    grid-column: 9 / span 2;
    text-align: center;
    font-size: 12px;
    margin: 0; }
  .grant-card__button {
    height: 30px;
    margin: 0 0 5px;
    font-size: 12px;
    padding: 5px 10px;
    background: #242424;
    border: none;
    width: 100%; }
    .grant-card__button:hover {
      background: #9b9b9b; }

.page__login {
  width: 960px;
  margin: 75px auto; }
  .page__login #form-login {
    width: 400px; }

.page__registration {
  width: 960px;
  margin: 75px auto; }
  .page__registration #form-registration {
    width: 400px; }

.page__org-details__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 0;
  margin: 0 auto;
  max-width: 960px; }
  .page__org-details__container .button {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    align-content: center;
    padding: auto;
    margin: 30px 0 50px 0;
    grid-column: 10 / span 3; }
  .page__org-details__container .org-detail {
    grid-column: 4 / -1; }
  .page__org-details__container .org-details__index {
    padding: 0;
    margin: 0 40px 0 0;
    grid-column: 1 / span 3;
    grid-row: span 10;
    list-style: none;
    position: relative;
    text-align: right; }
    .page__org-details__container .org-details__index:after {
      background: #ffe6e2;
      content: "";
      height: 85%;
      position: absolute;
      right: -30px;
      top: 5px;
      width: 1px; }
    .page__org-details__container .org-details__index__item {
      padding: 0;
      margin: 0 0 12px 0; }
    .page__org-details__container .org-details__index__link {
      cursor: pointer; }
      .page__org-details__container .org-details__index__link--1 {
        font-size: 16px;
        font-size: 1.6rem;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase; }

.page__grants__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 0;
  margin: 0 auto;
  max-width: 960px; }
  .page__grants__container .button {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    align-content: center;
    padding: auto;
    margin: 30px 0 50px 0;
    grid-column: 10 / span 3; }
  .page__grants__container .header-2 {
    grid-column: 1 / -1; }
  .page__grants__container .grant-card {
    grid-column: span 11; }

.page__grants__stat, .page__grants__stat--total {
  grid-column: span 2;
  margin: 0;
  font-size: 14px; }
.page__grants__number, .page__grants__number--total {
  margin: 0 0 30px 0;
  grid-row: 3;
  grid-column: span 2;
  font-size: 40px;
  font-weight: 600;
  line-height: 1; }
.page__grants__number--total, .page__grants__stat--total {
  grid-column: span 3; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=index.css.map */
