@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #242424; }

h1, h2, h3, h4,
.header-1, .header-2, .header-3, .header-4 {
  padding: 0;
  margin: 1.4rem 0 0.5rem 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

h1, h2, h3,
.header-1, .header-2, .header-3 {
  text-transform: uppercase; }

h1,
.header-1 {
  font-size: 34px;
  font-size: 3.4rem;
  padding: 0;
  margin: 0 0 0.5rem 0; }

h2,
.header-2 {
  font-size: 26px;
  font-size: 2.6rem; }

h3,
.header-3 {
  font-size: 20px;
  font-size: 2rem; }

h4,
.header-4 {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400; }

p,
.paragraph {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px; }

.paragraph--right {
  text-align: right; }

strong,
.strong {
  font-weight: 600; }

a,
a:visited {
  color: #ff6e6e;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s; }
  a:hover,
  a:visited:hover {
    color: #ed5656; }

ul li {
  font-size: 14px;
  font-size: 1.4rem; }

.accordion {
  font-weight: 600; }

:selection {
  background: yellow; }

button {
  font-size: 20px;
  font-size: 2rem;
  padding: 16px 32px;
  margin: 0;
  background: #ff6e6e;
  border: none;
  color: #f8f8f8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
  border-bottom: 4px solid #ed5656; }
  button:hover {
    background: #ed5656; }

.button--icon {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-right: 36px; }
  .button--icon .icon {
    margin-right: 16px;
    width: 32px; }

.header {
  background: #ff6e6e; }
  .header__nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-end;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 1200px; }
  .header__nav-list-item {
    padding: 40px 30px 16px 30px;
    margin: 0;
    align-self: center; }
    .header__nav-list-item .header-3 {
      text-transform: none;
      margin: 0; }
    .header__nav-list-item a {
      color: #f8f8f8; }
      .header__nav-list-item a:hover {
        color: white; }
  .header .header__account-icon a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    color: #242424; }
  .header .header__account-icon .paragraph {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    align-self: center;
    margin-right: 5px; }

.inputtext__input {
  padding: 12px 4px;
  margin: 20px 0 40px 0;
  border: none;
  border-bottom: 2px solid #fdbdb3;
  color: #242424;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  transition: background 0.3s; }
  .inputtext__input:hover, .inputtext__input:focus {
    background: #fff9f8;
    box-shadow: none;
    outline: 2px solid #fff5f4;
    border-bottom: 2px solid #fff9f8; }
  .inputtext__input::placeholder {
    color: #d3d3d3; }

.textarea__input {
  padding: 12px 4px;
  margin: 20px 0 40px 0;
  border: 2px solid #fdbdb3;
  color: #242424;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  min-height: 200px;
  transition: background 0.3s;
  width: 100%; }
  .textarea__input:hover, .textarea__input:focus {
    background: #fff9f8;
    box-shadow: none;
    outline: 2px solid #fff5f4;
    border: 2px solid #fff9f8; }
  .textarea__input::placeholder {
    color: #d3d3d3; }

.form--registration .button {
  width: 100%; }

.form--login .button {
  width: 100%; }

.page__login {
  width: 960px;
  margin: 75px auto; }
  .page__login #form-login {
    width: 400px; }

.page__registration {
  width: 960px;
  margin: 75px auto; }
  .page__registration #form-registration {
    width: 400px; }

.page__org-details__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 0 30px; }
  .page__org-details__container .button {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    align-content: center;
    grid-column: 10 / span 3;
    margin-top: 20px; }
  .page__org-details__container .org-detail {
    grid-column: 5 / -1; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=index.css.map */
